
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>Payment Failed</h2>

<p>@ViewBag.Message</p>

<!-- Optionally, add a retry button or other actions -->
<a href="@Url.Action("Index", "Home")">Go to Home</a>


