
@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <h1>Danh sách các thành viên</h1>
    <ol>
        <li>Trần Tấn Phúc </li>
        <li>Trần Tấn Phúcc </li>
    </ol>
</div>
